@font-face {
    font-family: "flaticon";
    src: url("fonts/flaticon.ttf") format("truetype"),
    url("fonts/flaticon.woff") format("woff"),
    url("fonts/flaticon.woff2") format("woff2"),
    url("fonts/flaticon.eot") format("embedded-opentype"),
    url("fonts/flaticon.svg") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-left-arrow:before {
    content: "\f108";
}
.flaticon-play:before {
    content: "\f10c";
}
.flaticon-right-arrow-1:before {
    content: "\f120";
}
